* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none; }

html {
  animation: 2s france-flag infinite normal; }
@keyframes france-flag {
  0% {
    background-color: #1343DA; }
  32% {
    background-color: #1343DA; }
  33% {
    background-color: white; }
  65% {
    background-color: white; }
  66% {
    background-color: #EF516E; }
  100% {
    background-color: #EF516E; } }
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: white; }

h1.soon {
  text-align: center;
  font-family: "Poppins", sans-serif; }

header {
  max-width: 940px;
  margin: 41px auto 0px;
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px; }
  header.shown {
    position: fixed;
    width: 100%;
    max-width: 100%;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
    top: 0;
    padding-bottom: 6px;
    z-index: 10;
    margin: 0;
    background: white;
    animation: 0.5s header-shown linear; }
    header.shown .content {
      max-width: 940px;
      margin: 0 auto;
      position: relative; }
      header.shown .content .logo {
        width: 18px;
        overflow: hidden;
        position: relative;
        display: block;
        height: 30px;
        top: 2px;
        float: left;
        z-index: 9; }
      header.shown .content ul {
        text-align: left;
        margin-left: 30px; }
      header.shown .content .links {
        right: 190px; }
      header.shown .content li.contact {
        display: block; }
        header.shown .content li.contact a {
          position: absolute;
          right: 0;
          top: -10px;
          color: white;
          font-size: 14px;
          background-color: #584CE6;
          opacity: 1;
          font-weight: bold;
          padding: 9px 16px;
          border-radius: 4px; }
          header.shown .content li.contact a:hover {
            background: #4437D3; }
@keyframes header-shown {
  0% {
    top: -100px; }
  100% {
    top: 0; } }
  header svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 108px; }
  header nav a.menu-open {
    display: none; }
  header nav ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin-top: 20px; }
    header nav ul li {
      display: inline-block;
      margin: 0 10px; }
      header nav ul li.contact {
        display: none; }
    header nav ul a {
      text-decoration: none;
      color: black; }
      header nav ul a:hover {
        color: #584CE6; }
  header nav .links {
    position: absolute;
    top: 0;
    right: 0; }
    header nav .links a {
      text-decoration: none;
      color: black;
      padding: 10px 15px 9px; }
      header nav .links a:hover {
        color: #584CE6; }
    header nav .links a:last-child {
      background: #F5F5F5;
      border-radius: 4px; }
      header nav .links a:last-child:hover {
        background: white;
        box-shadow: 0 0 0 1px #ededed inset; }

.banner {
  text-align: center;
  background: #FFFFFF;
  background-image: linear-gradient(-270deg, #0B3BDE 0%, #7337DB 100%); }
  .banner a {
    text-decoration: none;
    color: white; }
  .banner p {
    margin: 0;
    font-size: 14px;
    padding: 11px 0;
    color: white;
    display: inline-block; }
    .banner p a.link {
      border-bottom: 1px solid #A99BED;
      padding-bottom: 0;
      margin-left: 5px;
      line-height: 18px; }

.cookie {
  background: rgba(255, 255, 255, 0.93);
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 1000;
  display: none;
  background-color: black;
  color: white; }
  .cookie p {
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    padding: 20px;
    max-width: 950px; }
  .cookie a {
    text-decoration: none;
    color: #584CE6; }
  .cookie img {
    position: absolute;
    top: 21px;
    right: 25px;
    cursor: pointer; }

.shade-blue {
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #F7F9FF 100%);
  overflow: hidden; }
  .shade-blue.contact {
    position: relative;
    overflow: visible; }
    .shade-blue.contact img.man {
      position: absolute;
      top: -35px;
      left: 100px; }
    .shade-blue.contact img.woman {
      position: absolute;
      top: -35px;
      right: 100px; }

.light-blue {
  background-color: #F7F9FF; }

.grey {
  background-color: #F8F8F8; }

.white {
  background-color: white;
  overflow: hidden; }

.wrapper {
  max-width: 940px;
  margin: 0 auto; }
  .wrapper h1 {
    font-size: 50px;
    margin: 0;
    line-height: 59px;
    padding-top: 40px; }
  .wrapper h2 {
    text-align: left;
    font-size: 30px;
    font-weight: 500;
    margin: 0 0 5px; }
  .wrapper p {
    font-size: 18px;
    text-align: left;
    margin: 0; }
  .wrapper input {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: none;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border: 0;
    display: inline-block; }
    .wrapper input.email {
      width: 170px;
      font-weight: 400;
      border-radius: 3px;
      background-color: #F7F7F7;
      padding: 13px 22px;
      color: black;
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08), inset 0 0 1px 0 rgba(0, 0, 0, 0.29);
      margin-right: 3px; }
      .wrapper input.email:focus {
        box-shadow: inset 0 0 0 1px #E5415F;
        background-color: white; }
    .wrapper input.button {
      color: white;
      font-weight: 400;
      background-color: #F14E6C;
      opacity: 1;
      padding: 13px 22px;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer; }
      .wrapper input.button:hover {
        background-color: #E5415F; }
  .wrapper a {
    text-decoration: none;
    font-size: 18px;
    color: #584CE6; }
  .wrapper a.shadow {
    box-shadow: 0 1px 4px 0 rgba(88, 75, 230, 0.42); }
  .wrapper.hero {
    max-width: 1020px;
    margin: 104px auto 0px;
    position: relative;
    height: 540px; }
    .wrapper.hero p.use-quorum {
      line-height: 15px; }
    .wrapper.hero ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 40px; }
      .wrapper.hero ul li {
        background: url(../images/icons/blue-check.svg) no-repeat 0px 7px; }
        .wrapper.hero ul li p {
          margin: 7px 0px 0px 25px;
          text-align: left;
          font-weight: 400; }
    .wrapper.hero img.hero-illustration {
      position: absolute;
      top: -20px;
      left: 0; }
    .wrapper.hero img.fr-hero-title {
      width: 334px;
      margin-bottom: 45px; }
    .wrapper.hero img.en-hero-title {
      width: 422px;
      margin-bottom: 45px; }
    .wrapper.hero .features {
      position: absolute;
      top: 13px;
      right: 40px;
      min-width: 457px; }
      .wrapper.hero .features h1 {
        max-width: 460px;
        font-size: 32px;
        line-height: 38px;
        margin: 16px 0 30px;
        padding: 0px; }
      .wrapper.hero .features .clear {
        display: inline-block; }
    .wrapper.hero .call-us {
      margin-top: 15px; }
      .wrapper.hero .call-us p {
        display: inline-block;
        opacity: 0.7;
        font-size: 16px; }
      .wrapper.hero .call-us a {
        padding-left: 40px;
        font-weight: 600;
        opacity: 1;
        color: #666666; }
        .wrapper.hero .call-us a.phone-number {
          background: url(../images/icons/phone.svg) no-repeat 11px 4px; }
        .wrapper.hero .call-us a.email {
          background: url(../images/icons/email.svg) no-repeat 11px 8px; }
  .wrapper.cards {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    padding-top: 100px; }
    .wrapper.cards .card {
      width: 280px;
      border-radius: 2px;
      position: relative; }
      .wrapper.cards .card .image {
        position: relative; }
        .wrapper.cards .card .image img {
          width: 280px; }
          .wrapper.cards .card .image img.icon {
            width: 36px;
            position: absolute;
            left: -18px;
            bottom: -10px; }
      .wrapper.cards .card p {
        font-size: 16px;
        line-height: 22px;
        margin: 0px 5px 20px 20px;
        text-align: left; }
      .wrapper.cards .card .catchphrase {
        position: absolute;
        left: -7px; }
        .wrapper.cards .card .catchphrase p {
          min-width: 330px;
          line-height: 29px;
          font-size: 18px;
          margin: 40px 0 5px; }
        .wrapper.cards .card .catchphrase a {
          width: 215px; }
      .wrapper.cards .card.about {
        position: relative; }
        .wrapper.cards .card.about p {
          position: absolute;
          top: -8px;
          line-height: 29px;
          font-size: 18px;
          margin: 0; }
      .wrapper.cards .card.invisible {
        background-color: white; }
  .wrapper.mobile-app {
    padding: 100px 0 90px;
    margin-top: 170px;
    max-width: 955px;
    position: relative; }
    .wrapper.mobile-app img {
      width: 664px;
      position: absolute;
      top: 0;
      left: -261px; }
    .wrapper.mobile-app .content {
      margin-left: 450px; }
      .wrapper.mobile-app .content h3 {
        font-size: 12px;
        font-weight: 700;
        color: #808C9B;
        margin: 0;
        letter-spacing: 1.2px;
        text-transform: uppercase; }
      .wrapper.mobile-app .content h2 {
        margin: 5px 0 0;
        line-height: 39px; }
      .wrapper.mobile-app .content p {
        max-width: 425px; }
        .wrapper.mobile-app .content p.padded {
          padding: 30px 0 20px; }
      .wrapper.mobile-app .content .download {
        color: #808C9B;
        padding-bottom: 35px; }
        .wrapper.mobile-app .content .download span a {
          font-size: 15px;
          color: #808C9B; }
          .wrapper.mobile-app .content .download span a:hover {
            color: #584CE6; }
        .wrapper.mobile-app .content .download span.available {
          font-size: 12px;
          text-transform: uppercase;
          font-weight: 500;
          padding-right: 15px; }
        .wrapper.mobile-app .content .download span.ios {
          background: url(../images/icons/ios.svg) no-repeat 0 3px;
          padding-left: 20px;
          margin-right: 15px;
          cursor: pointer; }
        .wrapper.mobile-app .content .download span.android {
          background: url(../images/icons/android.svg) no-repeat 0 5px;
          padding-left: 20px;
          cursor: pointer; }
  .wrapper.web-app {
    padding: 150px 0 0px;
    position: relative; }
    .wrapper.web-app h2 {
      line-height: 39px;
      margin-top: 5px;
      text-align: center;
      max-width: 490px;
      margin: 0 auto; }
    .wrapper.web-app h3 {
      font-size: 12px;
      font-weight: 700;
      color: #808C9B;
      margin: 0;
      letter-spacing: 1.2px;
      text-transform: uppercase;
      margin-top: 5px;
      text-align: center; }
    .wrapper.web-app p {
      text-align: center;
      margin: 50px 0; }
    .wrapper.web-app .web-illustration {
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      margin: 90px 0px; }
      .wrapper.web-app .web-illustration .screen {
        position: relative;
        z-index: 5;
        width: 80%;
        height: 80%;
        display: block;
        margin: 0 auto; }
      .wrapper.web-app .web-illustration .logo-container, .wrapper.web-app .web-illustration .logo-container-right {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-direction: column;
            flex-direction: column;
        position: absolute;
        left: 0; }
      .wrapper.web-app .web-illustration .logo-container {
        position: absolute;
        left: 0; }
      .wrapper.web-app .web-illustration .logo-container-right {
        position: absolute;
        right: 0;
        -ms-flex-align: end;
            align-items: flex-end; }
      .wrapper.web-app .web-illustration .bubble-container .mailjet {
        animation: bubble-l 60s infinite;
        animation-delay: 3s;
        position: relative;
        width: 49px;
        height: 49px;
        margin-left: -20px; }
      .wrapper.web-app .web-illustration .bubble-container .agenda {
        animation: bubble-l 60s infinite;
        animation-delay: 18s;
        width: 49px;
        height: 49px;
        margin-left: -20px; }
      .wrapper.web-app .web-illustration .bubble-container .nationbuilder {
        animation: bubble-l 60s infinite;
        animation-delay: 24s;
        width: 49px;
        height: 49px;
        margin-left: -20px; }
      .wrapper.web-app .web-illustration .bubble-container .digitale {
        animation: bubble-l 60s infinite;
        animation-delay: 10s;
        width: 49px;
        height: 49px;
        margin-left: -20px; }
      .wrapper.web-app .web-illustration .bubble-container .mailchimp {
        animation: bubble-r 60s infinite;
        animation-delay: 0s;
        width: 49px;
        height: 49px; }
      .wrapper.web-app .web-illustration .bubble-container .twitter {
        animation: bubble-r 60s infinite;
        animation-delay: 24s;
        height: 32px;
        width: 32px; }
      .wrapper.web-app .web-illustration .bubble-container .quorum {
        animation: bubble-r 60s infinite;
        animation-delay: 21s;
        height: 68px;
        width: 68px; }
      .wrapper.web-app .web-illustration .bubble-container .buffer {
        animation: bubble-r 60s infinite;
        animation-delay: 6s;
        height: 51px;
        width: 51px; }
      .wrapper.web-app .web-illustration .bubble-container .sendinblue {
        animation: bubble-r 60s infinite;
        animation-delay: 12s;
        height: 42px;
        width: 42px; }
      .wrapper.web-app .web-illustration .bubble-container .item {
        background-color: #F3F3F3;
        position: relative;
        border-radius: 100%;
        padding: 10px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center;
        margin-top: 1em;
        z-index: 5; }
@keyframes bubble-l {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in-out; }
  50% {
    transform: translate3d(-105px, 10px, 0px);
    animation-timing-function: ease-in-out; }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in-out; } }
@keyframes bubble-r {
  0% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in-out; }
  50% {
    transform: translate3d(105px, 10px, 0px);
    animation-timing-function: ease-in-out; }
  100% {
    transform: translate3d(0px, 0px, 0px);
    animation-timing-function: ease-in-out; } }
      .wrapper.web-app .web-illustration .bubble-container img {
        max-width: 70%;
        max-height: 70%; }
      .wrapper.web-app .web-illustration .mapcontainer {
        position: absolute;
        z-index: 1;
        top: 0;
        height: 70%;
        width: 20%;
        left: 5%; }
        .wrapper.web-app .web-illustration .mapcontainer .map {
          z-index: 1;
          top: 0;
          height: 100%;
          width: 100%; }
        .wrapper.web-app .web-illustration .mapcontainer .poi-container {
          position: absolute;
          width: 200px;
          height: 200px;
          top: 30%;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: center;
              justify-content: center;
          -ms-flex-align: center;
              align-items: center; }
          .wrapper.web-app .web-illustration .mapcontainer .poi-container img {
            height: 21px; }
        .wrapper.web-app .web-illustration .mapcontainer .wavemap {
          width: 200px;
          height: 200px;
          background: #584CE6;
          position: absolute;
          top: 30%;
          animation: waveanim 7s infinite;
          animation-direction: normal;
          border-radius: 100%;
          transform-origin: 50% 50%; }
@keyframes waveanim {
  0% {
    transform: scale(0);
    opacity: 0.2; }
  100% {
    transform: scale(1);
    opacity: 0; } }
        .wrapper.web-app .web-illustration .mapcontainer .wavemap-1 {
          width: 200px;
          height: 200px;
          background: #584CE6;
          position: absolute;
          top: 30%;
          animation: waveanim 5s infinite;
          animation-direction: alternate;
          border-radius: 100%;
          transform-origin: 50% 50%; }
@keyframes waveanim1 {
  0% {
    transform: scale(0);
    opacity: 0; }
  50% {
    transform: scale(0);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 0.1; } }
        .wrapper.web-app .web-illustration .mapcontainer .wavemap-2 {
          width: 200px;
          height: 200px;
          background: #584CE6;
          position: absolute;
          top: 30%;
          animation: waveanim 5s infinite;
          animation-direction: normal;
          border-radius: 100%;
          transform-origin: 50% 50%; }
@keyframes waveanim2 {
  0% {
    transform: scale(0);
    opacity: 0; }
  20% {
    transform: scale(0);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 0.1; } }
  .wrapper.second-t-webapp .container-txt {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row; }
    .wrapper.second-t-webapp .container-txt h2 {
      text-align: left;
      padding: 0 5px;
      width: 50%;
      text-align: left;
      width: 50%; }
    .wrapper.second-t-webapp .container-txt p {
      width: 49%;
      margin-top: 4px; }
  .wrapper.second-t-webapp .api, .wrapper.second-t-webapp .api-mobile {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -ms-flex-pack: center;
        justify-content: center;
    padding: 0px;
    margin: 130px 0; }
    .wrapper.second-t-webapp .api .item, .wrapper.second-t-webapp .api-mobile .item {
      box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.08);
      width: 100%;
      height: 60px; }
    .wrapper.second-t-webapp .api img, .wrapper.second-t-webapp .api-mobile img {
      display: block;
      -ms-flex-pack: center;
          justify-content: center;
      padding: 30px;
      width: 120px; }
  .wrapper.second-t-webapp .api-mobile {
    display: none; }
  .wrapper.second-t-webapp .api-web {
    display: -ms-flexbox;
    display: flex; }
  .wrapper.news {
    padding: 90px 0 195px;
    text-align: center; }
    .wrapper.news h2 {
      margin-bottom: 20px;
      text-align: center; }
    .wrapper.news img.logos {
      max-width: 710px;
      display: block;
      margin: 30px auto; }
    .wrapper.news img.mobile {
      display: none; }
    .wrapper.news .articles {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .wrapper.news .articles .article {
        text-align: left;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        max-width: 300px; }
        .wrapper.news .articles .article p {
          margin: 22px 24px 12px;
          line-height: 27px; }
        .wrapper.news .articles .article a {
          color: black; }
        .wrapper.news .articles .article .source {
          margin: 0 0 13px 24px;
          position: relative; }
          .wrapper.news .articles .article .source img.icon-article {
            position: absolute;
            top: 7px;
            left: 0;
            width: 16px;
            border-radius: 2px; }
          .wrapper.news .articles .article .source span {
            font-size: 12px;
            opacity: 0.4;
            margin-left: 25px;
            text-transform: uppercase; }
  .wrapper.partners {
    padding: 141px 0 135px;
    text-align: center; }
    .wrapper.partners h2 {
      text-align: center;
      margin: 0; }
    .wrapper.partners h3 {
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      margin: 4px 0 46px; }
    .wrapper.partners img.partners {
      width: 670px;
      display: block;
      margin: 0 auto 50px; }
    .wrapper.partners img.mobile {
      display: none; }
  .wrapper.contact {
    padding: 75px 0 65px;
    text-align: center; }
    .wrapper.contact h2 {
      text-align: center; }
    .wrapper.contact span {
      font-size: 30px;
      font-weight: 300;
      margin: 0 8px; }
    .wrapper.contact a {
      color: #584CE6;
      font-size: 30px;
      font-weight: 500; }
  .wrapper.pricing-intro {
    text-align: center;
    max-width: 450px;
    margin-top: 137px; }
    .wrapper.pricing-intro img.fr-pricing-title {
      width: 190px; }
    .wrapper.pricing-intro img.en-pricing-title {
      width: 198px; }
    .wrapper.pricing-intro p {
      text-align: center;
      line-height: 27px;
      padding: 10px 0 25px; }
  .wrapper.pricing {
    position: relative;
    padding-bottom: 130px; }
    .wrapper.pricing table {
      width: 100%;
      margin: 0;
      font-weight: normal;
      border: 1px solid #E3E3E3;
      border-spacing: 0;
      border-collapse: collapse; }
      .wrapper.pricing table tr th {
        font-size: 18px;
        border: 1px solid #E3E3E3;
        font-weight: 600;
        width: 72px; }
        .wrapper.pricing table tr th.empty {
          color: #FDFDFD; }
        .wrapper.pricing table tr th img {
          display: block;
          margin: 0 auto 3px; }
      .wrapper.pricing table tr.header th {
        height: 110px; }
      .wrapper.pricing table tr td {
        text-align: center;
        font-size: 14px;
        border-right: 1px solid #E3E3E3;
        padding: 9px 0; }
      .wrapper.pricing table tr td:first-child {
        text-align: left;
        padding-left: 20px; }
      .wrapper.pricing table tr.header {
        background-color: #FDFDFD; }
      .wrapper.pricing table tr.subheader {
        height: 42px;
        background-color: #FDFDFD;
        text-transform: uppercase;
        text-align: left; }
        .wrapper.pricing table tr.subheader th {
          font-size: 14px;
          padding-left: 20px; }
          .wrapper.pricing table tr.subheader th.empty {
            color: #FDFDFD; }
    .wrapper.pricing .overlay-contact {
      background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 65%);
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      height: 650px; }
      .wrapper.pricing .overlay-contact img.man {
        position: absolute;
        top: 305px;
        left: 0; }
      .wrapper.pricing .overlay-contact img.woman {
        position: absolute;
        top: 305px;
        right: 0; }
      .wrapper.pricing .overlay-contact .contact-info {
        position: absolute;
        bottom: 155px;
        width: 100%; }
        .wrapper.pricing .overlay-contact .contact-info h2 {
          text-align: center; }
        .wrapper.pricing .overlay-contact .contact-info span {
          font-size: 30px;
          font-weight: 300;
          margin: 0 8px; }
        .wrapper.pricing .overlay-contact .contact-info a {
          color: #584CE6;
          font-size: 30px;
          font-weight: 500; }
  .wrapper.services {
    padding-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .wrapper.services .service {
      width: 400px;
      border: 2px solid #EEEEEE;
      border-radius: 10px;
      padding: 30px 30px 20px; }
      .wrapper.services .service img {
        padding-bottom: 5px; }
      .wrapper.services .service h3, .wrapper.services .service p {
        text-align: left; }
      .wrapper.services .service h3 {
        font-size: 23px;
        font-weight: 500;
        margin: 0;
        color: #584CE6; }
      .wrapper.services .service p {
        font-size: 16px;
        line-height: 27px; }
      .wrapper.services .service ul {
        margin-top: 3px;
        padding-left: 30px; }
  .wrapper.faq {
    padding: 90px 0;
    border-top: 1px solid #EAEAEA; }
    .wrapper.faq h2 {
      margin: 0 0 10px; }
    .wrapper.faq h2, .wrapper.faq h3, .wrapper.faq p {
      text-align: left; }
    .wrapper.faq .questions {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding-bottom: 65px; }
      .wrapper.faq .questions .question {
        max-width: 440px;
        margin-right: 20px; }
        .wrapper.faq .questions .question h3, .wrapper.faq .questions .question p, .wrapper.faq .questions .question a {
          font-size: 16px;
          margin: 0;
          line-height: 27px; }
        .wrapper.faq .questions .question h3 {
          margin-top: 30px;
          font-weight: 500; }
        .wrapper.faq .questions .question p {
          color: rgba(0, 0, 0, 0.6);
          opacity: 1;
          margin-bottom: 0; }
        .wrapper.faq .questions .question ul li {
          opacity: 0.6; }
  .wrapper.actions h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1.3px;
    font-weight: 600;
    padding-top: 45px;
    margin-bottom: 10px; }
  .wrapper.actions hr {
    width: 90px;
    height: 2px;
    background: #B9C0E2;
    display: block;
    margin: 0 auto;
    border: 0; }
  .wrapper.actions .items {
    padding: 25px 0 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .wrapper.actions .items img.icon {
      display: none; }
    .wrapper.actions .items p {
      font-size: 14px;
      padding-left: 30px; }
      .wrapper.actions .items p.secure {
        background: url(../images/icons/secure.svg) no-repeat 3px 1px; }
      .wrapper.actions .items p.organization {
        background: url(../images/icons/organization.svg) no-repeat 3px 1px; }
      .wrapper.actions .items p.field {
        background: url(../images/icons/field.svg) no-repeat 3px 1px; }
  .wrapper.cir {
    padding: 40px 0;
    text-align: center;
    border-bottom: 1px solid #EFEFEF; }
    .wrapper.cir p {
      text-align: center;
      margin: 0 auto;
      font-size: 16px;
      max-width: 650px; }
  .wrapper.faq-extended {
    padding: 80px 0 20px; }
    .wrapper.faq-extended h1 {
      font-size: 30px;
      margin-bottom: 30px; }
    .wrapper.faq-extended .question {
      padding: 50px 0;
      border-top: 1px solid #E5E5E5; }
      .wrapper.faq-extended .question h2 {
        font-size: 20px; }
      .wrapper.faq-extended .question .answer p, .wrapper.faq-extended .question .answer a {
        font-size: 16px; }
  .wrapper.team {
    position: relative;
    padding: 80px 0; }
    .wrapper.team h2 {
      text-align: center;
      margin-bottom: 20px; }
    .wrapper.team img.illustration {
      position: absolute;
      bottom: 0;
      left: -255px; }
    .wrapper.team .content {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row; }
      .wrapper.team .content .mobilised {
        background: url(../images/team-background.png) no-repeat;
        background-size: cover;
        border-radius: 4px;
        color: white;
        text-align: center; }
        .wrapper.team .content .mobilised h3 {
          font-size: 20px;
          font-weight: 500;
          margin: 0;
          padding: 160px 80px; }
          .wrapper.team .content .mobilised h3 span {
            font-size: 80px;
            display: block;
            line-height: 60px; }
      .wrapper.team .content .teammembers {
        max-width: 300px;
        margin-left: 20px; }
        .wrapper.team .content .teammembers img {
          border-radius: 4px;
          width: 300px; }
        .wrapper.team .content .teammembers p {
          margin: 25px 0; }
        .wrapper.team .content .teammembers a {
          background-color: #F14E6C;
          color: white;
          padding: 13px 22px;
          border-radius: 4px;
          font-size: 16px;
          font-weight: 600; }
          .wrapper.team .content .teammembers a:hover {
            background: #E5415F; }
  .wrapper.news-extended {
    padding: 80px 0 35px; }
    .wrapper.news-extended h1 {
      font-size: 30px;
      margin-bottom: 30px;
      max-width: 530px;
      line-height: 39px; }
    .wrapper.news-extended .article {
      padding: 45px 0 60px;
      border-top: 1px solid #E5E5E5;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: justify;
          justify-content: space-between; }
      .wrapper.news-extended .article .title {
        width: 280px; }
        .wrapper.news-extended .article .title h2 {
          font-size: 20px;
          line-height: 25px; }
        .wrapper.news-extended .article .title span {
          font-size: 11px;
          text-transform: uppercase;
          font-weight: 700;
          opacity: 0.6;
          letter-spacing: 2px; }
      .wrapper.news-extended .article .content {
        width: 625px; }
        .wrapper.news-extended .article .content p, .wrapper.news-extended .article .content a {
          font-size: 16px; }
        .wrapper.news-extended .article .content p {
          line-height: 25px;
          margin-bottom: 10px; }

.testimonials {
  padding-bottom: 135px; }
  .testimonials h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding-top: 75px; }
  .testimonials .has-scrollbar {
    padding: 15px 0; }
    .testimonials .has-scrollbar .list {
      width: 2050px; }
      .testimonials .has-scrollbar .list .testimonial {
        overflow: hidden;
        margin-left: 25px;
        float: left;
        display: block;
        max-width: 330px;
        background-color: white;
        border-radius: 5px;
        font-size: 18px;
        padding: 25px;
        color: #404447;
        box-shadow: 0 0 0 1px rgba(232, 232, 232, 0.36), 0 12px 24px 0 rgba(202, 202, 202, 0.22); }
        .testimonials .has-scrollbar .list .testimonial p {
          color: black;
          font-weight: 500; }
        .testimonials .has-scrollbar .list .testimonial .bottom {
          position: relative;
          padding-top: 15px; }
          .testimonials .has-scrollbar .list .testimonial .bottom img.avatar {
            width: 34px;
            border-radius: 50%;
            float: left;
            margin-right: 15px;
            padding-top: 5px; }
          .testimonials .has-scrollbar .list .testimonial .bottom img.border {
            position: absolute;
            top: 0;
            left: 0; }
          .testimonials .has-scrollbar .list .testimonial .bottom span.name {
            display: block;
            font-size: 14px; }
          .testimonials .has-scrollbar .list .testimonial .bottom span.about {
            font-size: 12px;
            display: block; }
        .testimonials .has-scrollbar .list .testimonial:last-child {
          margin-right: 25px; }
        .testimonials .has-scrollbar .list .testimonial p {
          text-align: left;
          margin: 0 0 20px;
          font-size: 15px; }

footer {
  max-width: 940px;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border-bottom: 1px solid #EFEFEF; }
  footer .footer-item {
    margin: 50px 0 7px; }
    footer .footer-item h3 {
      font-size: 13px;
      text-transform: uppercase;
      margin: 0;
      line-height: 0px; }
    footer .footer-item img {
      padding-right: 5px; }
    footer .footer-item ul {
      list-style: none;
      padding: 0; }
      footer .footer-item ul li a {
        text-decoration: none;
        color: black;
        font-size: 15px;
        opacity: 0.8; }
  footer .footer-news {
    width: 335px; }
    footer .footer-news p {
      line-height: 22px;
      margin-bottom: 21px;
      opacity: 0.8; }
    footer .footer-news input {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -webkit-appearance: none;
      font-size: 15px;
      font-family: "Poppins", sans-serif;
      border: 0;
      display: inline-block; }
      footer .footer-news input.email {
        width: 161px;
        font-weight: 400;
        border-radius: 3px;
        background-color: #F7F7F7;
        padding: 13px 22px;
        color: black;
        box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.08), inset 0 0 1px 0 rgba(0, 0, 0, 0.29);
        margin-right: 3px; }
        footer .footer-news input.email:focus {
          box-shadow: inset 0 0 0 1px #E5415F;
          background-color: white; }
      footer .footer-news input.button {
        color: white;
        font-weight: 400;
        background-color: #F14E6C;
        opacity: 1;
        padding: 13px 22px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer; }
        footer .footer-news input.button:hover {
          background: #E5415F; }
    footer .footer-news .clear {
      display: inline-block; }
  footer .footer-connect li {
    padding-left: 23px; }
    footer .footer-connect li.facebook {
      background: url(../images/icons/facebook.svg) no-repeat 0 5px; }
    footer .footer-connect li.twitter {
      background: url(../images/icons/twitter.svg) no-repeat 0 7px; }
    footer .footer-connect li.youtube {
      background: url(../images/icons/youtube.svg) no-repeat 0 7px; }
    footer .footer-connect li.google-plus {
      background: url(../images/icons/google-plus.svg) no-repeat 0 7px; }
    footer .footer-connect li.instagram {
      background: url(../images/icons/instagram.svg) no-repeat 0 5px; }

.legal {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
  padding: 34px 0 95px;
  font-size: 10px;
  letter-spacing: 0.77px; }
  .legal a {
    text-decoration: none;
    color: black;
    text-transform: uppercase; }
  .legal span {
    padding: 0 5px; }
  .legal span:last-child {
    display: none; }

@media screen and (max-width: 980px) {
  .banner {
    padding: 20px; }
    .banner p {
      padding: 0;
      font-size: 18px;
      line-height: 22px; }

  .cookie p {
    padding: 20px 60px 20px 20px;
    text-align: left; }

  header {
    padding: 20px;
    margin: 0; }
    header .logo {
      height: 30px;
      float: left;
      overflow: hidden; }
      header .logo svg {
        position: relative;
        top: 0;
        left: 0; }
    header.shown {
      position: fixed;
      width: 100%;
      max-width: 100%;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
      top: 0;
      padding-bottom: 6px;
      z-index: 10;
      margin: 0;
      background: white;
      animation: 0.5s header-shown linear; }
      header.shown .content {
        max-width: 940px;
        margin: 0 auto;
        position: relative; }
        header.shown .content .logo {
          width: 18px;
          overflow: hidden;
          position: relative;
          display: block;
          z-index: 10; }
        header.shown .content .menu-open {
          top: -3px;
          right: 40px; }
        header.shown .content ul {
          text-align: center;
          margin-left: 0; }
        header.shown .content .links {
          right: 0; }
        header.shown .content li.contact {
          display: block; }
          header.shown .content li.contact a {
            position: relative;
            right: 0;
            top: 0;
            color: white;
            font-size: 14px;
            background-color: #584CE6;
            opacity: 1;
            font-weight: bold;
            padding: 9px 16px;
            border-radius: 4px; }
            header.shown .content li.contact a:hover {
              background: #4437D3; }
  @keyframes header-shown {
    0% {
      top: -100px; }
    100% {
      top: 0; } }
    header nav a.menu-open {
      display: block;
      text-decoration: none;
      float: right;
      display: block;
      color: black;
      opacity: 0.6;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0;
      padding-right: 30px;
      z-index: 10;
      background: url(../images/icons/menu.svg) no-repeat 53px 4px;
      position: absolute;
      top: 18px;
      right: 20px; }
    header .content {
      overflow-y: scroll; }
      header .content .menu-items {
        display: none; }
      header .content.responsive .logo {
        z-index: 10;
        position: fixed;
        top: 16px; }
      header .content.responsive a.menu-open {
        top: 17px;
        right: 20px;
        position: fixed; }
      header .content.responsive .menu-items {
        display: block;
        width: calc(100% - 40px);
        position: fixed;
        background: white;
        z-index: 9;
        left: 0;
        top: 0;
        padding: 0 20px;
        height: 100%; }
        header .content.responsive .menu-items .links {
          text-align: center;
          position: relative; }
          header .content.responsive .menu-items .links a {
            display: block;
            font-size: 16px; }
        header .content.responsive .menu-items ul {
          display: block;
          margin-top: 80px;
          padding-left: 0; }
          header .content.responsive .menu-items ul li {
            display: block;
            text-align: center;
            margin-bottom: 20px; }
            header .content.responsive .menu-items ul li.contact {
              display: block; }
              header .content.responsive .menu-items ul li.contact a {
                position: relative;
                right: 0;
                top: 0;
                color: white;
                font-size: 14px;
                background-color: #584CE6;
                opacity: 1;
                font-weight: bold;
                padding: 9px 16px;
                border-radius: 4px; }
          header .content.responsive .menu-items ul a {
            font-size: 16px; }

  .shade-blue.contact img.man {
    width: 77px;
    position: absolute;
    top: inherit;
    bottom: -5px;
    left: -10px; }
  .shade-blue.contact img.woman {
    width: 61px;
    position: absolute;
    top: inherit;
    bottom: -14px;
    right: 0px; }

  .wrapper input {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-appearance: none; }
    .wrapper input.email {
      width: calc(100% - 44px); }
    .wrapper input.button {
      display: block;
      width: 100%;
      margin-top: 10px; }
  .wrapper.hero {
    height: auto;
    padding: 40px 20px 80px;
    margin: 0; }
    .wrapper.hero img.hero-illustration {
      display: block;
      position: relative;
      top: 0;
      left: 0;
      width: 80%;
      margin: 0 auto 40px; }
    .wrapper.hero .features {
      position: relative;
      left: 0;
      top: 0;
      width: 100%;
      min-width: auto; }
      .wrapper.hero .features h1 {
        font-size: 26px;
        line-height: 32px; }
      .wrapper.hero .features .clear {
        display: block; }
      .wrapper.hero .features img.fr-hero-title {
        width: 275px;
        margin: 0; }
      .wrapper.hero .features img.en-hero-title {
        width: 280px;
        margin: 0; }
      .wrapper.hero .features p.use-quorum {
        margin-top: 20px;
        font-size: 16px; }
      .wrapper.hero .features ul {
        margin: 10px 0 15px; }
        .wrapper.hero .features ul li p {
          font-size: 16px;
          opacity: 1; }
    .wrapper.hero .call-us a.phone-number {
      display: block;
      background: url(../images/icons/phone.svg) no-repeat 0px 4px;
      padding-left: 30px;
      margin-top: 5px; }
    .wrapper.hero .call-us a.email {
      display: block;
      background: url(../images/icons/email.svg) no-repeat 0px 7px;
      padding-left: 30px;
      margin-top: 5px; }
  .wrapper.cards {
    padding: 80px 40px 80px 30px; }
    .wrapper.cards .card {
      width: auto;
      margin: 0 auto; }
      .wrapper.cards .card.about {
        position: relative;
        display: block; }
        .wrapper.cards .card.about p {
          position: relative;
          margin: 0 0 20px;
          font-size: 18px; }
      .wrapper.cards .card .image img {
        width: 100%; }
      .wrapper.cards .card .catchphrase {
        position: relative; }
        .wrapper.cards .card .catchphrase p {
          margin-top: 0;
          min-width: auto; }
        .wrapper.cards .card .catchphrase a {
          width: auto; }
      .wrapper.cards .card p {
        font-size: 16px;
        margin: 0px 20px 30px 30px;
        line-height: 25px; }
  .wrapper.mobile-app {
    padding: 60px 20px 80px;
    margin-top: 0; }
    .wrapper.mobile-app .content {
      margin-left: 0; }
      .wrapper.mobile-app .content h3 {
        margin: 20px 0 0;
        padding: 0; }
      .wrapper.mobile-app .content h2 {
        margin: 4px 0 5px;
        line-height: 40px; }
      .wrapper.mobile-app .content .download {
        padding-bottom: 25px; }
        .wrapper.mobile-app .content .download span.available, .wrapper.mobile-app .content .download span .ios, .wrapper.mobile-app .content .download span .android {
          font-size: 14px; }
      .wrapper.mobile-app .content p {
        font-size: 18px; }
    .wrapper.mobile-app img {
      position: relative;
      display: block;
      width: 90%;
      left: 0;
      margin: 40px auto 0; }
  .wrapper.web-app {
    padding: 0px 20px;
    margin: 45px 0; }
    .wrapper.web-app h3 {
      margin: 20px 0 0;
      padding: 0; }
    .wrapper.web-app img {
      width: 90%;
      display: block;
      left: 0;
      position: relative;
      top: 0; }
  .wrapper.second-t-webapp {
    padding: 0px 20px; }
  .wrapper.partners {
    padding: 80px 20px; }
    .wrapper.partners h2 {
      line-height: 40px; }
    .wrapper.partners img.desktop {
      display: none; }
    .wrapper.partners img.mobile {
      display: block;
      width: 231px; }
  .wrapper.news {
    padding: 80px 20px; }
    .wrapper.news h2 {
      line-height: 40px;
      margin-bottom: 0; }
    .wrapper.news img.mobile {
      display: block; }
    .wrapper.news img.desktop {
      display: none; }
    .wrapper.news .articles {
      display: block;
      padding: 40px 20px 0; }
      .wrapper.news .articles .article {
        max-width: 100%;
        padding: 10px;
        margin-bottom: 30px; }
    .wrapper.news .logos {
      width: 100%; }
  .wrapper.contact {
    padding: 80px 60px 30px; }
    .wrapper.contact h2 {
      font-size: 18px; }
    .wrapper.contact .contact-info a, .wrapper.contact .contact-info span {
      font-size: 18px; }
    .wrapper.contact .contact-info span {
      margin: 0 5px; }
    .wrapper.contact .contact-info a.tel {
      display: block; }
  .wrapper.pricing-intro {
    padding: 40px 20px 20px;
    margin: 0 auto; }
    .wrapper.pricing-intro p {
      font-size: 16px; }
  .wrapper.pricing {
    padding: 0 20px; }
    .wrapper.pricing table tr.header th {
      height: 80px; }
    .wrapper.pricing table tr.subheader {
      height: 30px; }
    .wrapper.pricing table tr th {
      font-size: 13px; }
      .wrapper.pricing table tr th.mobile-invisible {
        display: none; }
    .wrapper.pricing table tr td {
      padding: 10px; }
      .wrapper.pricing table tr td.mobile-invisible {
        display: none; }
    .wrapper.pricing .overlay-contact {
      width: calc(100% - 40px);
      height: 605px; }
      .wrapper.pricing .overlay-contact img.man, .wrapper.pricing .overlay-contact img.woman {
        display: none; }
      .wrapper.pricing .overlay-contact .contact-info {
        bottom: 130px; }
        .wrapper.pricing .overlay-contact .contact-info h2 {
          font-size: 18px; }
        .wrapper.pricing .overlay-contact .contact-info a, .wrapper.pricing .overlay-contact .contact-info span {
          font-size: 18px; }
        .wrapper.pricing .overlay-contact .contact-info span {
          margin: 0 5px; }
        .wrapper.pricing .overlay-contact .contact-info a.tel {
          display: block; }
  .wrapper.services {
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 0px 20px 60px; }
    .wrapper.services .service {
      width: auto;
      margin-bottom: 20px; }
      .wrapper.services .service h3 {
        font-size: 21px;
        line-height: 28px;
        margin-bottom: 5px; }
      .wrapper.services .service p {
        margin-bottom: 5px; }
  .wrapper.faq {
    padding: 0 20px 60px;
    border-top: none; }
    .wrapper.faq h2 {
      font-size: 21px;
      margin: 0; }
    .wrapper.faq .questions {
      padding-bottom: 30px; }
      .wrapper.faq .questions .question {
        margin-right: 0; }
        .wrapper.faq .questions .question h3, .wrapper.faq .questions .question p {
          margin-bottom: 5px; }
  .wrapper.team {
    padding: 60px 20px 0; }
    .wrapper.team h2 {
      font-size: 21px;
      margin: 0 0 20px;
      line-height: 32px; }
    .wrapper.team img.illustration {
      display: block;
      position: relative;
      left: -65px;
      padding-top: 45px; }
    .wrapper.team .content {
      -ms-flex-direction: column;
          flex-direction: column; }
      .wrapper.team .content .mobilised {
        display: block;
        margin-bottom: 10px; }
        .wrapper.team .content .mobilised h3 {
          font-size: 16px;
          padding: 40px 35px; }
          .wrapper.team .content .mobilised h3 span {
            font-size: 40px; }
      .wrapper.team .content .teammembers {
        max-width: none;
        width: auto;
        margin: 0;
        display: block;
        text-align: center; }
        .wrapper.team .content .teammembers p {
          text-align: center;
          margin: 20px 0 30px; }
        .wrapper.team .content .teammembers img {
          width: 100%; }
  .wrapper.news-extended {
    padding: 50px 20px; }
    .wrapper.news-extended h1 {
      padding: 0;
      font-size: 24px;
      line-height: 30px; }
    .wrapper.news-extended .article {
      padding: 30px 0;
      -ms-flex-direction: column;
          flex-direction: column; }
      .wrapper.news-extended .article .title h2 {
        margin: 5px 0 10px; }
      .wrapper.news-extended .article .content {
        width: auto; }
  .wrapper.faq-extended {
    padding: 50px 20px; }
    .wrapper.faq-extended h1 {
      padding: 0;
      font-size: 24px;
      line-height: 30px; }
    .wrapper.faq-extended .question {
      padding: 30px 0; }
      .wrapper.faq-extended .question h2 {
        margin: 5px 0 10px; }
  .wrapper.actions {
    display: block;
    padding: 70px; }
    .wrapper.actions .items {
      display: block; }
      .wrapper.actions .items img.icon {
        display: block;
        margin: 15px auto 10px; }
      .wrapper.actions .items p {
        display: block;
        padding: 0;
        font-size: 16px;
        text-align: center;
        margin-bottom: 20px; }
        .wrapper.actions .items p.secure, .wrapper.actions .items p.organization, .wrapper.actions .items p.field {
          background: none; }
  .wrapper.cir {
    padding: 60px 20px;
    border-bottom: none; }

  .testimonials {
    padding: 60px 0; }
    .testimonials h2 {
      padding: 0 20px;
      font-size: 21px;
      line-height: 32px; }
    .testimonials .has-scrollbar .list .testimonial {
      margin-left: 20px; }
      .testimonials .has-scrollbar .list .testimonial:last-child {
        margin-right: 25px; }

  .legal {
    padding: 0 20px 100px; }

  footer {
    padding: 20px 20px 0;
    border-bottom: none;
    display: block; }
    footer .footer-item h3 {
      font-size: 15px; }
    footer .footer-item ul li a {
      font-size: 17px;
      opacity: 0.8; }
    footer .footer-item .footer-news {
      width: auto; }
      footer .footer-item .footer-news p {
        opacity: 0.8; }
      footer .footer-item .footer-news .clear {
        display: block; }
      footer .footer-item .footer-news input {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-appearance: none; }
        footer .footer-item .footer-news input.email {
          display: block;
          width: calc(100% - 44px); }
        footer .footer-item .footer-news input.button {
          display: block;
          width: 100%;
          margin-top: 10px; } }
@media screen and (max-width: 768px) {
  body .white .web-app .bubble-container {
    display: none; }
  body .white .web-app .wavemap, body .white .web-app .wavemap-1, body .white .web-app .wavemap-2, body .white .web-app .poi-container {
    display: none; }
  body .white .web-app .web-illustration {
    margin: 0px; }
  body .white .second-t-webapp .api-mobile {
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 50px 0 100px 0; }
    body .white .second-t-webapp .api-mobile .item {
      margin: 15px 0;
      display: -ms-flexbox;
      display: flex; }
      body .white .second-t-webapp .api-mobile .item .blue-container {
        width: 33%;
        background: #F7F9FF;
        display: -ms-flexbox;
        display: flex;
        height: 61px;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center; }
        body .white .second-t-webapp .api-mobile .item .blue-container img {
          max-width: 60%;
          max-height: 60%;
          width: auto;
          padding: 0;
          margin: 0; }
      body .white .second-t-webapp .api-mobile .item p {
        text-align: center;
        width: 66%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
            justify-content: center;
        -ms-flex-align: center;
            align-items: center; }
    body .white .second-t-webapp .api-mobile .nation-container {
      position: relative;
      width: 67%;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-direction: column;
          flex-direction: column; }
      body .white .second-t-webapp .api-mobile .nation-container p {
        opacity: 0.4;
        width: auto; }
      body .white .second-t-webapp .api-mobile .nation-container .soon {
        opacity: 1;
        color: #F14E6C;
        width: auto;
        text-align: center;
        width: 100%;
        margin-top: -10px;
        font-size: 12px; }
      body .white .second-t-webapp .api-mobile .nation-container img {
        display: block; }
  body .white .second-t-webapp .api {
    display: none; }
  body .white .second-t-webapp .api-mobile {
    display: -ms-flexbox;
    display: flex; }
  body .white .second-t-webapp .container-txt {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    body .white .second-t-webapp .container-txt h2, body .white .second-t-webapp .container-txt p {
      display: block;
      width: 100%; } }
[data-fluffy-container] {
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  transition: background-color 1s 600ms, opacity 600ms 600ms; }
  [data-fluffy-container]::after, [data-fluffy-container]::before {
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 50%;
    box-shadow: inset 0 0 20px 20px rgba(255, 255, 255, 0.33);
    content: "";
    height: 20px;
    left: 50%;
    margin: -10px 0 0 -10px;
    opacity: 1;
    position: absolute;
    top: 50%;
    transition: opacity 300ms, visibility 0s 300ms;
    visibility: visible;
    width: 20px;
    z-index: 1000; }
  [data-fluffy-container]::after {
    animation: moveRight 600ms linear infinite alternate;
    transform: translateX(-20px); }
@keyframes moveRight {
  to {
    transform: translateX(20px); } }
  [data-fluffy-container]::before {
    animation: moveLeft 600ms linear infinite alternate;
    transform: translateX(20px); }
@keyframes moveLeft {
  to {
    transform: translateX(-20px); } }
  [data-fluffy-container].is-ready {
    background-color: transparent; }
    [data-fluffy-container].is-ready::after, [data-fluffy-container].is-ready::before {
      opacity: 0;
      transition: opacity 300ms, visibility 0s 300ms;
      visibility: hidden; }
  [data-fluffy-container].is-ready [data-fluffy-content], [data-fluffy-container].is-moving [data-fluffy-scrollbars] {
    opacity: 1; }

[data-fluffy-scrollbars] {
  opacity: 0;
  transition: opacity 600ms; }
  [data-fluffy-scrollbars] .is-vertical {
    background-color: rgba(0, 0, 0, 0.66);
    box-shadow: inset 0 0 20px 20px rgba(255, 255, 255, 0.66);
    position: absolute;
    top: 0; }
  [data-fluffy-scrollbars] .is-vertical {
    height: 40px;
    right: 0;
    width: 3px; }

[data-fluffy-content] {
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity 600ms 600ms; }
